*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

label{
  font-size: 17px;
  font-weight: 500; 
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color:#FFF;
  width: 100%;
  padding: 32px 48px;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68,99,1 );
}

.container  h1{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container  form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.container  input{
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom:  1px solid black;
}

.container input::placeholder{
  font-size: 13px;
  font-style: italic;
}

button {
  background-color: purple;
  font-size: 20px;
  padding: 10px;
  color: white;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}



